




.FormWrapper{
    display: flex;
    
    height: 70vh;;
    justify-content: center;
    margin: 30px auto;
    align-items: center;

}

form{
    background-color: #A04000;
    padding: 50px;
 
}

form input{
    display: block;
    padding: 10px;
    margin: 10px;
    width: 300px;
}



.image img{
    width: 400px;
    height: 40vh;
    object-fit: cover;
}


.button{
    margin: 10px;
    background-color: #E74C3C;
    color: white;
    border: none;
    font-size: 20px;
}